
<div id="qestion_p" > {{q.question}}     </div>
<div id="rep1_p"    > {{q.rep1}}         </div>
<div id="rep2_p"    > {{q.rep2}}         </div>
<div id="rep3_p"    > {{q.rep3}}         </div>
<div id="rep4_p"    > {{q.rep4}}         </div>
<div id="rep_p"     > {{q.rep}}          </div>
<div id="exp_p"     > {{q.explications}} </div>
