{% extends 'InnovitGeneralBundle:General:general.html.twig' %}
{%block milieu%}
<div id="div_gauche" class="" style="">        
				<div id="slider" class="" style="">
	
	
	<div id="division_slider_show" style="">

	<div id="division_slider_show_SPANS" style="">
	<div id="div1" style="display:inline-block">
	1
	</div>
	<div id="div2" style="margin-left:20px;display:inline-block">
	2
	</div>
	<div id="div3" style="margin-left:20px;display:inline-block;">
	3
	</div>
	<div id="div4" style="margin-left:20px;display:inline-block;">
	4
	</div>
	</div>
		
		
	
	
<div id="division_slider_show_image" style="">
		
	<div id="sls1"  style="">
	<img src="{{asset("images/image1.jpg")}}" style="height:100%;width:100%"/>
	</div>
	
	<div id="sls2"  style="">
	<img src="{{asset("images/image2.jpg")}}" style="height:100%;width:100%"/>
	</div>
	
	<div id="sls3"  style="">
	<img src="{{asset("images/image3.jpg")}}" style="height:100%;width:100%"/>
	</div>
	
	<div id="sls4"  style="">
	<img src="{{asset("images/image4.jpg")}}" style="height:100%;width:100%"/>
	</div>
		
</div>
	
	</div>    
				</div>		 
				
				<div id="div_englobante" class="" style="">
					<div id="sous_div1" class="" style="">
						<img class="icone_s_d" src="{{asset("images/png/128px/Shape42.png")}}" style=""/>
						<div id="" class="titre" style="">
							<span style="color:#33CCCC">نصائح قيمة</span><br>	  
						</div>		 
						<div class="text" class="" style="">
							<span style="">
								Accomljkxsg ssg sfgsf g sfh sgh sghs g h sg h sg h sg hs g h sg h s gh s h sf h sf h s h sg h sdgh  sdh  sdf h sdh  sdh s dh s gh dg h sdgh </span><br>	  
						</div>		 
					</div>       
					<div id="sous_div2" class="" style="">
						<img class="icone_s_d" src="{{asset("images/png/128px/Shape108.png")}}" style=""/>
						<div id="" class="titre" style="">
							<span style="color:#99CC00"> مرافقة ذكية</span><br>	  
						</div>		 
						<div class="text" class="" style="">
							<span style="">
								Accomljkxsg ssg sfgsf g sfh sgh sghs g h sg h sg h sg hs g h sg h s gh s h sf h sf h s h sg h sdgh  sdh  sdf h sdh  sdh s dh s gh dg h sdgh
								
								</div>
					</div>
					<div id="sous_div3" class="" style="">
						<img class="icone_s_d" src="{{asset("images/logo_infor2.png")}}" style=""/>
						<div id="" class="titre" style="">
							<span style="color:#FF7F27"> تأطير مستمر</span><br>	  
						</div>		 
						<div class="text" class="" style="">
							<span style="">
								Accomljkxsg ssg sfgsf g sfh sgh sghs g h sg h sg h sg hs g h sg h s gh s h sf h sf h s h sg h sdgh  sdh  sdf h sdh  sdh s dh s gh dg h sdgh								</div>
					</div>
				</div>		 	
			</div>
{%endblock%}