<!DOCTYPE html>

<html id="" class="" lang="ar">

	<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{asset("css/css.css")}}" type="text/css" media="screen" />
	</head>
	 
	<body class="" style="" onscroll="scroll();" >
	 
        <div id="Entete_general" style="">
				<div id="imag_back_ground" style="">
				  
	     </div> 
			<div class="box " style="">
			
				 <div id="logo_general" style="">
				    <img id="logo_image" src="{{asset("images/logo.png")}}" style=""/>
			     </div> 
				 <div id="grand_titre_general" style="">
				    SELF SCHEDULE COATCHING
			     </div>  
				 
				 <div id="grand_text_general" style="">
				 Nouvelle vision d'accompagnement des étudiants pour un avenir educatif solide.
				 </div>
               				 
			</div>   
			
			<div id="menu" style="">
<div id="menu_a" style="">	
	<a id="menu_a_4" href="{{path('innovit_general_homepage',{ name:"liensutiles"})}}""><div id="menu_4" style="" >مواقع مفيدة</div></a>
		
	<a id="menu_a_3" href="{{path('innovit_general_homepage',{ name:"flashactus"})}}""><div id="menu_3" style="">مستجدات</div></a>
	
	<a id="menu_a_2" href="{{path('innovit_general_homepage',{ name:"qsnous"})}}""><div id="menu_2" style="" >من نحن؟</div></a>
	
	<a id="menu_a_1" href="{{path('innovit_general_homepage',{ name:"Accueil"})}}""><div id="menu_1" style="" > 
	<div id="img_acc" style="" ><img src="{{asset("images/accueil_rond.png")}}" id="img_acc" style="height:100%;"/></div>
	الرئسية</div></a>
	<div id="sing_in" style="" onclick="javascript:affichersingin()" >تسجيل الدخول</div>
		
</div>


<div id="ligne_d_adaptation" style="" >
				<form action="{{ path("fos_user_security_check") }}" method="post">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
					<div id="div_authentification" >
					<div id="div_authent" style=""></div>
					
						<div style="font-size:1.2em;color:#59407F;position:relative" onclick="javascript:fermersingin()">
						تعريف
						<div id="div_fermer"  style="" onclick="javascript:fermersingin()">
						<img src="{{asset("images/fermer.png")}}" style="height:100%;width:100%"/>
						 </div>
						</div>
						<div class="input_authentification">
							<input  style="" class="input"  placeholder="اسم التسجيل " type="text" id="username" name="_username"  required="required">
							</input>
						</div>
						<div class="input_authentification">
							<input  style="" class="input"  placeholder="كلمة السر" type="password" id="password" name="_password" required="required">
							</input>
						</div>
						<div>
							<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
							<label for="remember_me">garder ma session active</label>
						</div>
						<div class="input_authentification" style="width:100px;margin:auto;margin-top:10px">
							<input  style="" class="" value="دخول"  placeholder="Login " type="submit" name="_submit" >
							</input>
						</div>
						 <div id="mot_de_passe_oubl"style="">نسيت كلمة السر</div>
					</div>
				</form>	
	<script>
	function affichersingin(){document.getElementById("div_authentification").style.display="block"}
	function fermersingin() {document.getElementById("div_authentification").style.display="none"}</script>
</div>
</div>


	
		</div>       
		<div id="corp_general" style=""> 
		{% block corp %}
		
		{% endblock %}
		</div>
		<div id="footer" style="">
		<div id="images_footer">
		<div id="innovit" class="footer_image" style="">
		<img id="logo_image" src="{{asset("images/innovIT_logo.png")}}" style="width:100%"/>
        </div>
        <div id="inpt" class="footer_image" style="">
		<img id="logo_image" src="{{asset("images/logoINPT.png")}}" style="width:100%"/>
        </div>
		</div>			
		
		<div id="text_footer">
		Ce site est développé dans le cadre du concours Innovit 2014<br>
		Equipe de l'Institut National des Postes et télécommunication
		</div>			
		
		
        </div>
	<script  src="{{asset("scripts/script_accueil.js")}}" > </script>
				
	</body>
</html>